# --- Android / Gradle ---
*.iml
.gradle
/.idea/*
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/private
/app/debug
/app/release
/app/src/release/google-services.json
/app/src/debug/google-services.json

# --- Firebase ---
firebase-services.json

# --- Fastlane ---
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output
fastlane/*.json

# --- Keys & Signing ---
keystore.properties
*.jks
*.keystore
*.p12
*.pem
.env*