# --- Android / Gradle ---
*.iml
.gradle
/.idea/*
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/private
/app/debug
/app/release
/app/google-services.json

# --- Fastlane ---
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output
fastlane/*.json

# --- Keys ---
*.jks
*.keystore
*.p12
*.pem
.env*